.buscador{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    border-radius: 40px;
    height: 40px;
    padding: 10px;
}

.buscador .casilla-buscar{
    border: none;
    background: none;
    outline: none;
    color: #ecf0f1;
    font-size: 16px;
    line-height: 40px;
    width: 240px;
}

.buscador ::placeholder{
    color: #dcdde1;
    font-size: 16px;
}

.buscador .boton-buscar{
    color: #ecf0f1;
    float: right;
    font-size: 40px;
}

.logo .logo{
    position: absolute;
    width: 200px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lista{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    border-radius: 40px;
    padding: 10px;
}

.lista .juegos{
    border: none;
    background: none;
    outline: none;
    color: #ecf0f1;
    font-size: 16px;
    width: 280px;
    height: 40px;
}

.lista ::placeholder{
    color: #dcdde1;
    font-size: 16px;
}