.searcher{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    border-radius: 40px;
    height: 5%;
    padding: 10px;
}

.searcher .searchBox{
    border: none;
    background: none;
    outline: none;
    color: #ecf0f1;
    font-size: 16px;
    line-height: 30px;
    width: 240px;
    padding-left: 10px;
}

.searcher ::placeholder{
    color: #dcdde1;
    font-size: 16px;
}

.searcher .searchButton{
    color: #ecf0f1;
    float: right;
    font-size: 32px;
    top: 3%;
}

.logo .logo{
    position: absolute;
    width: 300px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameList{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    border-radius: 40px;
    height: 5%;
    padding: 10px;
}

.gameList .games{
    border: none;
    background: none;
    outline: none;
    color: #ecf0f1;
    width: 280px;
    height: 40px;
    font-size: 16px;
    padding-bottom: 7px;
    padding-left: 5px;
}

.gameList .games ::marker{
    padding-bottom: 7px;
}

.conteinerSlider{
    position: absolute;
    box-sizing: border-box;
    width: 400px;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

.conteinerSlider .slider{
    border: 1px solid white;
    height: 150px;
    padding: 10px;
}

.conteinerSlider .arrows{
    position: absolute;
    top: 0;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.conteinerSlider .slider .image .img{
    width: 280px;
}